#--------------------------------------------------------------------------------------------------#
######################################### Package Config ###########################################
#__________________________________________________________________________________________________#
[project]
name = "{{ package_name }}"
version = "0.1.0"
description = "{{ package_description }}"
license = {% include 'includes/template-license.jinja' %}
readme = "README.md"
keywords = ["{{ project_slug }}", "pixi", "python"]

authors = [{ name = "{{ author_full_name }}", email = "{{ author_email }}" }]
maintainers = [{ name = "{{ author_full_name }}", email = "{{ author_email }}" }]

classifiers = [
  "Development Status :: 1 - Planning",
  "Programming Language :: Python :: 3",
  {%- if python_version <= "3.10" %}
  "Programming Language :: Python :: 3.10",
  {%- endif %}
  {%- if python_version <= "3.11" %}
  "Programming Language :: Python :: 3.11",
  {%- endif %}
  {%- if python_version <= "3.12" %}
  "Programming Language :: Python :: 3.12",
  {%- endif %}
  {%- if python_version <= "3.13" %}
  "Programming Language :: Python :: 3.13",
  {%- endif %}
  "Operating System :: OS Independent",
  "License :: OSI Approved :: {{ software_license }}",
]

requires-python = ">= {{ python_version }}"
dependencies = [
  "rich",
]

[project.urls]
homepage = "https://github.com/{{ github_username }}/{{ project_slug }}"
repository = "https://github.com/{{ github_username }}/{{ project_slug }}"
documentation = "https://{{ github_username }}.github.io/{{ project_slug }}/"
changelog = "https://github.com/{{ github_username }}/{{ project_slug }}/blob/main/docs/CHANGELOG.md"
issues = "https://github.com/{{ github_username }}/{{ project_slug }}/issues"

[build-system]
{% include 'includes/template-build-backend.jinja' %}

[project.scripts]
myscript = "{{ package_name }}.main:main"
